@import "tailwindcss";
@tailwind utilities;

@theme {
  --color-bg: #050607;
  --color-accent: #00ffbb;
  --color-accent-2: #3a50e0;
  --color-accent-3: #F033B4;
  --color-pure: #ffffff;
  --color-lines: #1a1c1f;

  --font-inter: "Inter", sans-serif;
  --font-primary: "Space Grotesk", sans-serif;

}

body {
  font-family: var(--font-primary);
  color: var(--color-pure);
  background-color: var(--color-bg);
}

@layer utilities {
  @media (min-width: 540px) and (max-width: 640px) {
    .custom-range-img-xs {
      top: 220px;
    }
  }

  @media (min-width: 440px) and (max-width: 540px) {
    .custom-range-img-xs {
      top: 200px;
    }
  }

  @media (max-width: 480px) {
    .custom-range-img-xs {
      top: 150px;
    }
  }

  @media (max-width: 400px) {
    .custom-range-img-xs {
      top: 50px;
    }
  }
}

.mobile_menu {
  user-select: none;
  pointer-events: none;
  opacity: 0;
  transition: opacity 300ms ease, transform 300ms ease;
  transform: translateX(100%);
}

/* Active menu state */
.mobile_menu.open_menu {
  user-select: auto;
  pointer-events: all;
  opacity: 1;
  transform: translateX(0);
}

.mobile_menu .menu {
  transition: transform 500ms ease-in-out;
}
